$theme-colors: (
    "info":teal,
    "danger": #ED5254,
    'primary':'#018895',
    'secondary':'',
    'warning':'#f6ae0a',
);
$black : #121212;
$danger : #ED5254;
$white : #ffffff;
$paleBlue : #a0d2d7;
$bluewhite : #e4f2f3;
$yellow : #f6ae0a;
$gray : #959DB0;
$text-gray :#7E7E7E;
$primary :#018895;
$success : #009821;