.landing .slick-arrow {
    z-index: 2;
}

.landing .slick-next {
    left: 20px !important;

    &:before {
        content: '' !important;
        display: none !important;
    }
}

.landing .slick-prev {
    right: 30px !important;

    &:before {
        content: '' !important;
        display: none !important;
    }
}

.whyUs_box {
    border-radius: 1.5rem;
    box-shadow: 0 5px 20px #10101020;

    p {
        font-size: 1.4rem;

        @include media-breakpoint-down(sm) {
            opacity: .8;
            font-size: 1.2rem;
        }
    }
}

.category-title {
    font-weight: 600;

    span {
        font-size: 2.3rem;
    }

    .divider {
        .border {
            height: .15rem;
            background-color: $primary;
        }
    }

    h3 {
        z-index: 2;
        font-size: 2.3rem;
        position: relative;
        background-color: $white;

        &:before {
            top: 20%;
            z-index: -1;
            right: -22px;
            content: '';
            width: 60px;
            height: 60px;
            display: block;
            position: absolute;
            background-size: cover;
            background-repeat: repeat;
            transform: translateY(-50%);
            background-image: url('../../public/images/Icons/repeat-grid-title.svg');

            @include media-breakpoint-down(sm) {
                right: -20%;
            }
        }
    }
}

.product-cat {
    border-radius: 1rem;

    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../public/images/Icons/brush-3.svg');
    }

    img {
        width: 15rem;
        height: 15rem;
        transition: all .4s;
        // object-fit: cover;
    }

    .title {
        font-weight: 600;
        font-size: 1.6rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.4rem;
        }
    }

    &:hover {
        img {
            transform: scale(1.05) translateY(-15px);
        }
    }
}

.category-banner {
    padding: 2.5rem 3.5rem;

    * {
        color: $white;
    }

    list-style: none;

    h4 {
        font-size: 3.2rem;

        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }
    }

    li {
        font-size: 1.8rem;
    }

    &_brush {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../public/images/Icons/Brush.svg");
    }

    a {
        font-size: 1.6rem;
    }
}

.newsletter {
    border-radius: 1.2rem;
    border: 1px solid $primary;
}

.homepage-banners {
    .content {
        top: 50%;
        right: 5%;
        width: 100%;
        height: 100%;
        color: $white;
        position: absolute;
        transform: translateY(-50%);

        h4 {
            font-size: 4rem;
            font-weight: 700;
        }

        p {
            font-size: 2.4rem;
        }

        @include media-breakpoint-down(sm) {
            h4 {
                font-size: 2rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}