@mixin transformCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin LineClamp($line) {
    // .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // }
}