.shop {
    .sort {
        .icon {
            padding: 1.2rem;
            border-radius: .4rem;
            background-color: #{$primary}15;
        }

        .opt {
            cursor: pointer;
            color: #8D8D8D;
        }

        .activesort {
            color: #4D4D4D;
        }

    }

    .filter {
        color: #4D4D4D;
        padding: 1.6rem;
        border-radius: $border-radius;
        box-shadow: $section-boxShadow;
        border:1px solid #{$primary}20;

        input {
            outline: none;
            padding: .5rem 1rem;
            border: none;
            border-bottom: 1px solid #B8B8B830;
        }

        @include media-breakpoint-up(lg) {
            top: 90px;
            position: sticky;
        }

        .dropdown {
            height: 50px;
            overflow: hidden;
            transition: all .3s ease-in;
        }

        .dropdown.open {
            height: 200px;
            max-height: 200px;
            overflow-y: scroll;
        }

        // .options {
        //     height: 0;
        //     overflow: hidden;
        // }

        // .options.open {
        //     height: 200px;
        //     max-height: 200px;
        //     overflow-y: scroll;
        //     transition: all .4s ease-in;
        // }
    }
}

// -----------
.paginate {
    direction: ltr;

    @include media-breakpoint-down(sm) {
        max-width: 99vw;

        .links a {
            padding: .5rem .8rem;
        }
    }
}

.links {
    margin: 0 1rem;

    a {
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        border-radius: .4rem;
        border: 1px solid #20202020;
    }
}

.next a,
.prev a {
    padding: 1rem;
    box-shadow: 0 0 15px #{$primary}30;
    border-radius: .4rem;
}

.paginate {
    .active-page {
        margin: 0 1rem;

        a {
            padding: 1rem 1.5rem;
            color: $white !important;
            background-color: $primary;
        }
    }

    a {
        color: $text-gray;

        &:hover {
            color: #{$black};
            border-color: #{$primary}90;
        }
    }
}

// -------- FILTER
.noUi-target {
    height: 10px !important;
}

.noUi-connect {
    background: $primary !important;
}

.noUi-handle {
    width: 20px !important;
    height: 20px !important;
    cursor: e-resize !important;
    border-radius: 50% !important;

    &:after,
    &:before {
        display: none !important;
    }
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -10px !important;
}

// -------
#react-select-2-listbox {
    z-index: 999;
    position: absolute;
    background-color: $white !important;
}