@import './colors';
@import './mixin';
@import './variable';
@import './header';
@import './footer';
@import 'review';
@import './form';
@import './shop';
@import './homepage';
@import './Blog/blog';
@import './Blog/blog-card';
@import './products/product-card';
@import './products/single-product';
@import './staticpages.scss';
@import './cart';
@import './payment';
@import './user';
@import './products/imageZoom';
@import './errorpage';

@font-face {
    font-family: 'iranyekan';
    src: url('../Assets/fonts/iranyekanwebregularfanum.woff') format('woff');
}


html {
    font-size: 10px;
    scroll-padding-top: 30px;
    // @include media-breakpoint-down(sm) {
    //     overflow-x: hidden;
    //     max-width: 99.99vw;
    // }
}

body {
    color: $black;
    font-size: 1.4rem;
    background-color: #FDFDFD;
    font-family: 'iranyekan' !important;

    @include media-breakpoint-down(sm) {
        overflow-x: hidden;
        max-width: 99.99vw;
    }
}


@include media-breakpoint-up(lg) {
    html {
        scroll-padding-top: 130px;
    }

    .product_carousel .slick-initialized {
        direction: rtl !important;
    }
}

p {
    font-size: 1.6rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
    }
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

// ---------- slick in mobile
@include media-breakpoint-down(sm) {
    .slick-arrow {
        z-index: 2;

        &:before {
            content: '';
            color: $primary;
            font-size: 2.5rem;
            border-radius: 50%;
            background-color: $white;
            border: 1px solid rgba(1, 136, 149, 0.3);
            box-shadow: 0px 4px 10px rgba(1, 136, 149, 0.2);
        }
    }

    // .slick-prev {
    //     right: 2rem !important;
    // }

    // .slick-next {
    //     left: 2rem !important;
    // }
}

// ------------- Comments
.comments {
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &_reply {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -80%;
            right: -18px;
            width: 58px;
            height: 122px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('../../public/images/Icons/comments-line.svg');
        }
    }
}

@include media-breakpoint-up(lg) {

    .slick-list .ProductCard {
        margin: 0 .6rem
    }
}

.iiz>div {
    display: flex;
    justify-content: center;
}

.Arrow-carousel {
    box-shadow: 0px 4px 10px rgba(1, 136, 149, 0.2);
}

.slick-arrow.slick-disabled {
    filter: grayscale(100%);
    opacity: .6;
}

// .product_carousel .slick-initialized {
//     direction: rtl !important;
// }

.slick-arrow:before {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: $white;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


// ----------- QUANTITY BUTTONS STYLE -----------
.quantity-btn {
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 50%;
    color: #{$black}90;
    padding: .4rem;
    border:1px solid #{$primary}60;

    @include media-breakpoint-up(lg) {
        padding: .4rem .8rem;
    }

    &:hover {
        border-color: #{$primary}90;
    }
}